includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 8
    checkMissingIterableValueType: true
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false
    parallel:
        maximumNumberOfProcesses: 4
    tmpDir: ./storage/phpstan
